<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="buct.tzx.javademo">

    <application>
        <activity android:name=".MainActivity4"></activity>
        <activity android:name=".MainActivity3" />
        <activity android:name=".MainActivity1" />
    </application>

</manifest>